<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=PC-XHCANAJ\SQLEXPRESS;Database=M19G1;User ID=sa;Password=Unforgiven11@22" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authentication mode="Windows" />
        <sessionState mode="SQLServer" sqlConnectionString="Server=PC-XHCANAJ\SQLEXPRESS;Database=M19G1;User ID=sa;Password=Unforgiven11@22" />
    </system.web>
</configuration>
